#all-content{
    display: grid;
    grid-template-columns: 200px auto auto;
}
.sub{
    overflow-x: hidden;
    z-index: 1;
    top: 0;
    left: 0;
    grid-column: 1 / 1;
    background: linear-gradient(180deg, rgba(255, 184, 0, 0.7) 0%, rgba(255, 184, 0, 0.294) 100%), #000000;
    height: 100%;
    min-height: 94vh;
    display: flex;
    flex-flow: column wrap;
    align-items: stretch;
    width: auto;
    text-align: center;
    border-right: 1px solid white;
}
.main {
    grid-column: 2 / 4;
    max-width: 1500px;
    margin: auto;
}
#gombok{
    display: flex;
    flex-flow: column wrap;
    row-gap: 3px;
}